body {
  
  padding-top: 20px;
}

img {
  border-radius: 50%;
  transition: transform 0.3s;
  
}

img.weapons {
	width: 100px;
  height: 100px;
}

img:hover {
    box-shadow: 0 0 50px -10px rgb(116, 128, 116);
    cursor: pointer;
}

h1 {
  font-family: 'Thasadith', sans-serif;
  color: rgb(165, 148, 148);
}

#container {
  	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.computerSelection {
	box-shadow: 0 0 50px 2px red;
	transform: scale(1.1);
}

.playerSelection {
	box-shadow: 0 0 50px 2px green;
	transform: scale(1.1);
}

#weapons {
	display: inline-flex;
	flex-direction: column;
}

#arena {
	display: inline-flex;
	background: whitesmoke;
	width: 60%;
	justify-content: space-between;
	align-items: center;
}

#score {
	display: inline-flex;
	flex-direction: column;
	background: whitesmoke;
	width: 20%;
	text-align: center;	
}

.cpuWeapon {
	position: relative;
	animation-name: cpuFight;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	box-shadow: 0 0 50px 2px red;
}

@keyframes cpuFight{
	0%{
		right: 0;
	}
	100%{
		right: 30%;
	}
}

.playerWeapon {
	position: relative;
	animation-name: playerFight;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
	box-shadow: 0 0 50px 2px green;
}

@keyframes playerFight{
	0%{
		left: 0;
	}
	100%{
		left: 30%;
	}
}