body {
  
  padding-top: 20px;
}

img {
  border-radius: 50%;
  transition: transform 0.3s;
  width: 50%;
}

img.weapons {
	width: 100px;
  height: 100px;
}

img:hover {
    box-shadow: 0 0 50px -10px rgb(116, 128, 116);
    cursor: pointer;
}

h1 {
  font-family: 'Thasadith', sans-serif;
  color: rgb(165, 148, 148);
}

#title{
	text-align: center;
}

#container {
  	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.computerSelection {
	box-shadow: 0 0 50px 2px red;
	transform: scale(1.1);
}

.playerSelection {
	box-shadow: 0 0 50px 2px green;
	transform: scale(1.1);
}

#weapons {
	display: inline-flex;
	flex-direction: column;
	width: 20%;
}

#arena {
	display: inline-flex;	
	width: 80%;
}

#playerCorner{
	width: 50%;
	position: relative;
	text-align: center;
	border-right: 1px solid gray;
}

#cpuCorner{
	width: 50%;
	position: relative;
	text-align: center;
}

#score {
	display: inline-flex;
	flex-direction: column;
	background: whitesmoke;
	width: 20%;
	text-align: center;	
}

.cpuWeapon {
	position: absolute;
	animation-name: cpuFight;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@keyframes cpuFight{
	0%{
		right: 0;
	}
	100%{
		right: 50%;
	}
}

.playerWeapon {
	position: absolute;
	animation-name: playerFight;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@keyframes playerFight{
	0%{
		left: 0%;
	}
	100%{
		left: 50%;
	}
}